@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Regular.woff2') format('woff2'),
    url('fonts/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Bold.woff2') format('woff2'),
    url('fonts/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Light.woff2') format('woff2'),
    url('fonts/Montserrat-Light.woff') format('woff'),
    url('fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
    url('fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Black.woff2') format('woff2'),
    url('fonts/Montserrat-Black.woff') format('woff'),
    url('fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Medium.woff2') format('woff2'),
    url('fonts/Montserrat-Medium.woff') format('woff'),
    url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('fonts/Montserrat-SemiBold.woff') format('woff'),
    url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Thin.woff2') format('woff2'),
    url('fonts/Montserrat-Thin.woff') format('woff'),
    url('fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



body {
    font-family: "Montserrat";
    margin: 0;
    left: 0;
    position: relative;
}

.smr-bold{
    font-weight: bold;
    display: contents;
}

.city-list-row{
    color: white;
}

.city-list-row a{
    color: white;
    padding: 5px 0;
}

.city-list-popup-window{
    background: #0000006b;
    display: none;
    justify-content: normal;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 200;
    transform: translate(-50%, 0);
    padding: 20px 0 20px 50px;
    width: 900px;
    height: 500px;
    box-shadow: 0px 0px 300px 10px rgba(0,0,0,0.5);
}

.city-list-popup-window ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

.city-list-popup-window ul li{
    list-style-type: none;
    margin: 12px 0;
    width: 200px;
}

.city-list-popup-window ul li a:hover{
    color: #EB7848;
    transition: all 0.25s;
}

.popup-cont{
    display: flex;
}

.popup-cont ul li:last-child {
    margin-bottom: 0;
}

.close-window{
    background-image: url("../images/cross.svg");
    /* background-color: #ff7c00; */
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

span.city-list-letter{
    position: absolute;
    left: -25px;
    font-weight: bold;
    font-size: 20px;
    line-height: 12px;
    color: #EB7848;
}

.section-first{
    background: #AFD4F3;
}

.about-company{
    width: 100%;
    background: #E7EDF3;
    padding: 11px 0;
}

.item{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 20px;
    color: #596387;
    text-decoration: none;
}

.location{
    text-align: right;
}

.city{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4298DF;
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    background: url(../images/marker.svg) no-repeat;
    transition: all 0.3s;
    padding-bottom: 0px;
    padding-top: 0px;
    background-position-y: top;
}

.overflow{
    overflow: hidden;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: 90;
}

.mobile-menu{
    display: none;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
    background: #FFFFFF;
    z-index: 100;
    overflow: auto;
}

.mm-head-links{
    background-color: #aee0fa;
    background-image: linear-gradient(135deg, #aee0fa 0%, #5a95be 33%, #48609b 87%);
}

.mm-head-links ul li:first-child{
    padding-top: 30px;
}

.mm-head-links ul{
    margin: 0;
    padding-bottom: 30px;
}

.mm-head-links ul li{
    list-style-type: none;
    /*margin-bottom: 20px;*/
    border-bottom: 1px solid  #CACACA;
    padding: 10px 0 10px 0;
}

.mm-head-links ul a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.mm-to-foot{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 40px;
}

.mm-to-foot a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4298DF;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;;
}

.mm-to-foot a:nth-child(2){
    padding-top: 0;
    font-size: 13px;
    color: #333333;
}

.mm-to-foot a:last-child{
    padding-top: 0;
    font-size: 13px;
    color: #333333;
    text-decoration: underline;
}

.header-mobile-new{
    display: none;
}

.gamburger{
    display: none;
    background-image: url("../images/gamburger.svg");
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    position: absolute;
}

.mm-city-foot {
    font-weight: 500;
    padding: 6px 0 6px 15px;
    background-position-y: center;
}

.hm-search {
    display: none;
    width: 47px;
    height: 47px;
}

.header-company-info {
    padding: 22px 0;
    justify-content: center;
    background: #FFFFFF;
}

.logo {
    display: inline-block;
}

.address-new {
    display: inline-block;
    margin-left: 50px;
}

.street-new {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.contact-link a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4298DF;
    transition: all 0.3s;
}

a.contact-link-item {
    text-decoration: none;
}

.flx{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.flx-end{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.number-new a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4298DF;
    text-decoration: none;
    transition: all 0.3s;
}

.feedback-new a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
    transition: all 0.3s;
}

.button-callback-new{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #EB7848;
    padding: 11px 20px;
    border: 1px solid #EB7848;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.contact-us-new {
    text-align: right;
}

.number-new {
    margin-bottom: 2px;
}

.blue-header-block{
    background: #4298DF;
}

.search-new{
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    line-height: 60px;
    background: #7ab2e0;
    padding-right: 16px;
    padding-left: 10px;
    cursor: default;
}

.search-new input{
    width: 0px;
    padding: 0;
    outline: none;
    transition: all 0.3s ease;
    height: 19px;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    background: none;
}

.search-new input::placeholder{
    color: #FFFFFF;
}

.search-new img{
    display: inline-block;
    width: 18px;
    height: 19px;
    vertical-align: middle;
    cursor: pointer;
}

.search-new-active input{
    width: 350px;
    margin-right: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.navigation-new{
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.navigation-new li:last-child {
    cursor: pointer;
}

ul.navigation-new > li{
    list-style-type: none;
    text-align: center;
    max-width: 120px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    /* word-break: break-all; */
    position: relative;
}

ul.navigation-new a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 21px 0px;
}

ul.navigation-new > li:first-child {
    background: #7AB2E0;
}

ul.navigation-new > li:last-child {
    background: #7AB2E0;
    border-right: none;
    width: 48px;
    display: flex;
    justify-content: center;
}

ul.navigation-new li:hover .dropdown-new{
    display: block;
}

.dropdown-new {
    display: none;
    position: absolute;
    width: 215px;
    background-color: white;
    left: 0;
    top: 60px;
    z-index: 10;
    margin-left: 0;
    padding-left: 0;
}

.dropdown-new li{
    list-style-type: none;
    text-align: left;
    /* padding: 9px 5px; */
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}



.dropdown-new li a {
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: black;
    padding: 0;
    display: flex;
    padding: 9px 5px;
}

.reservoirs-new{
    background: url("../images/reservoir-new.png") no-repeat;
    background-size: 799px 524px;
    background-position-y: center;
    background-position-x: right;
    position: relative;
    overflow: hidden;
}

.nav-prev-link{
    padding-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.prev-link{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #596387;
}

.heading-reservoirs{
    margin-top: 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #22366C;
    display: inline-block;
}

.small-title-reservoirs{
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #22366C;
    display: inline-block;
    width: 391px;
}

.reservoirs-types-new {
    width: 308px;
    margin-bottom: 139px;
}

.button-types-new{
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #22366C;
    background-color: #DEF0FF;
    box-shadow: 0 2px 4px rgba(34, 54, 108, 0.15);
    border-radius: 4px;
    display: flex;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 12px center;
}

.button-types-new a{
    text-decoration: none;
    outline: none;
    color: #22366C;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 46px;
    transition: all 0.3s;
}

.vert-reserv a {
    padding-right: 34px;
}

.horiz-reserv a {
    padding-right: 19px;
}

.two-walls-reserv a {
    padding-right: 55px;
}

.one-wall-reserv a {
    padding-right: 41px;
}

.reserv-for-water a {
    padding-right: 91px;
}

.reservoirs-types-new .button-types-new:first-child {
    margin-top: 46px;
}

.vert-reserv{
    background-image: url("../images/vert-reserv.svg");
}

.horiz-reserv{
    background-image: url("../images/horiz-reserv.svg");
}

.two-walls-reserv{
    background-image: url("../images/two-walls-reserv.svg");
}

.one-wall-reserv{
    background-image: url("../images/one-wall-reserv.svg");
}

.reserv-for-water{
    background-image: url("../images/reserv-for-water.svg");
}

.photo-reserv{
    display: inline-flex;
}

.reservoirs-new:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0px 0 131px 100vw;
    border-color: transparent transparent #ffffff transparent;
    left: 0px;
    bottom: 0;
}

.how-work {
    margin-top: 95px;
}

.hwi-icon{
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
}

.hwi-signature{
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #22366C;
}

.under-icons{
    margin-top: 51px;
    display: flex;
    margin-bottom: 75px;
}

.small-description {
    width: 643px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #22366C;
    display: inline-block;
}

.small-description p{
    margin-top: 0;
}

.stage-of-work{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #22366C;
    display: inline-block;
    margin-left: 30px
}

.stage-new{
    padding-left: 0;
    margin-top: 5px;
}

.stage-new li{
    list-style-type: none;
}

.stage-new li:before{
    content: url("../images/stage-li.svg");
    padding-right: 8px;
}

.section-third{
    background: #AFD4F3;
}

.order-form-new {
    padding-top: 193px;
    padding-bottom: 163px;
    position: relative;
    overflow: hidden;
}

.order-heading-new {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #22366C;
    margin-bottom: 13px
}

.order-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #22366C;
}

.order-text-new {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #596387;
    width: 500px;
}

.order-text-new a{
    font-weight: bold;
    text-decoration: none;
    color: #22366C;
    transition: all 0.3s;
}

.name-user-new {
    display: inline-flex;
    margin-right: 5px;
}

.tel-user-new {
    display: inline-flex;
}

.form-ord {
    width: 390px;
    margin-right: 0;
    margin-left: auto;
}

input.inp-name-user {
    width: 190px;
    height: 36px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

input.inp-tel-user {
    width: 190px;
    height: 36px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.msg-user-new {
    display: inline-flex;
}

.area-msg {
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    width: 390px;
    height: 144px;
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 12px;
    resize: none;
}

.buttons-form {
    margin-top: 20px;
    display: inline-flex;
    width: 390px;
}

.button-attach-file-new {
    cursor: pointer;
    border: 1px solid #EB7848;
    box-sizing: border-box;
    border-radius: 4px;
    width: 190px;
    height: 45px;
    background: #ffffff;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-right: 10px;
    color: #EB7848;
    position: relative;
    transition: all 0.3s;
}


.button-send-new {
    cursor: pointer;
    width: 190px;
    height: 45px;
    background: #EB7848;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 13px;
    padding-top: 13px;
    color: #ffffff;
    transition: all 0.3s;
    position: relative;
}

.order-form-new:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 131px 100vw 0 0;
    border-color: #ffffff transparent transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.order-form-new:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0px 0 131px 100vw;
    border-color: transparent transparent #ffffff transparent;
    left: 0px;
    bottom: 0;
}

.delivery-new{
    margin-top: 34px;
    margin-bottom: 69px;
}

.delivery-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
    margin-top: 49px;
}

.how-order-delivery{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #22366C;
    margin-top: 23px;
}

.communication-method{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #22366C;
}

.method-form-new{
    background: url("../images/1-method-form.svg") no-repeat;
    background-size: 64px 64px;
    padding-left: 75px;
    padding-top: 23px;
    margin-top: 54px;
    padding-bottom: 25px;
}

.method-email-new{
    background: url("../images/2-method-email.svg") no-repeat;
    background-size: 64px 64px;
    margin-top: 56px;
    padding-left: 74px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.method-phone-new{
    background: url("../images/3-method-phone.svg") no-repeat;
    background-size: 64px 64px;
    padding-left: 75px;
    width: 313px;
    margin-top: 56px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.communication-method a{
    color: #4298DF;
    text-decoration: none;
    transition: all 0.3s;
}

.dlv-car {
    display: flex;
    justify-content: flex-end;
}

.dlv-car img{
    opacity: 0.2;
}

.section-fifth {
    background: #AFD4F3;
}

.photo-and-caption {
    position: relative;
    padding-top: 192px;
    padding-bottom: 191px;
    overflow: hidden;
}

.pac-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
    margin-bottom: 40px;
}

.pac-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #22366C;
    width: 475px;
}

.pac-photo{
    display: flex;
    justify-content: flex-end;
}

.pac-photo img{
    width: 475px;
    /* height: 266px; */
}

.photo-and-caption:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 131px 100vw 0 0;
    border-color: #ffffff transparent transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.photo-and-caption:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0px 0 131px 100vw;
    border-color: transparent transparent #ffffff transparent;
    left: 0px;
    bottom: 0;
}

.our-client {
    margin-top: 81px;
}

.oc-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
    margin-bottom: 40px;
}

.oc-card{
    padding: 18px 21px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline-flex;
    margin-bottom: 30px;
    margin-right: 35px;
}

.oc-clients img{
    width: 182px;
    height: 42px;
}

.geography-deliveries{
    margin-top: 119px;
    padding-bottom: 103px;
    border-bottom: 1px solid #DADADA;
}

.gd-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
}

.gd-photo{
    display: flex;
    justify-content: flex-end;
}

.gd-photo img {
    width: 727px;
    height: 400px;
}

.advantages{
    margin-top: 103px;
}

.advantages-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
}

.advantages-items{
    display: flex;
    justify-content: flex-end;
}

.ai-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #22366C;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 23px;
    padding-left: 84px;
    padding-right: 10px;
    width: 306px;
}

.ai-third{
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
    width: 643px;
    padding: 32px;
    padding-right: 10px;
    padding-left: 84px;
    margin-top: 30px;
    background: url("../images/ai-work-experience.svg") no-repeat;
    background-position: 10px center;
}

.ai-first{
    margin-right: 26px;
    display: inline-flex;
    background: url("../images/ai-license.svg") no-repeat;
    background-position: 10px center;
}

.ai-second {
    display: inline-flex;
    background: url("../images/ai-base.svg") no-repeat;
    background-position: 10px center;
}

.documentation{
    margin-top: 118px;
}

.documentation-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
}

.dc-link a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #4298DF;
    transition: all 0.3s;
}

.dc-category{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #596387;
    opacity: 0.5;
    margin-top: 2px;
}

.dc-item {
    z-index: 3;
    position: relative;
}

.dc-item:first-child {
    margin-bottom: 30px;

}

.doc-list {
    position: relative;
    z-index: 1;
}

.dc-bg:before{
    content: "";
    background: url(../images/bg-doc-list.svg) no-repeat;
    width: 121px;
    height: 156px;
    position: absolute;
    top: -23px;
    left: -47px;
    z-index: 0;
}

.section-eleventh {
    background: #AFD4F3;
}

.own-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
    margin-bottom: 40px;
}

.product-slider .slick-list {
    margin: 0 -10px;
}

.ps-item{
    outline: none;
}

.pi-child{
    margin: 10px;
}

.ps-item a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #22366C;
    outline: none;
    transition: all 0.2s;
}

.slick-prev{
    width: 36px;
    height: 36px;
    left: -66px;
    top: 45%;
}

.slick-prev:before {
    content: '';
    background-image: url(../images/left_arrow.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}

.slick-next{
    width: 36px;
    height: 36px;
    right: -66px;
    top: 45%;
}

.slick-next:before {
    content: '';
    background-image: url(../images/right_arrow.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
}

.ps-item img {
    margin-bottom: 15px;
    width: 100%;
}

.our-work-new {
    margin-top: 92px;
    padding-top: 191px;
    position: relative;
    overflow: hidden;
}

.our-work-new{
    padding-bottom: 200px;
}

.our-work-new:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 131px 100vw 0 0;
    border-color: #ffffff transparent transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.our-work-new:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0px 0 131px 100vw;
    border-color: transparent transparent #ffffff transparent;
    left: 0px;
    bottom: 0;
}

.maybe-interesting{
    margin-top: 83px;
    margin-bottom: 103px;
}

.mi-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #31384B;
}

.mi-links{
    margin-top: 20px;
}

.mi-links a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4298DF;
    padding: 10px;
    background: rgba(69, 142, 203, 0.15);
    border-radius: 4px;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    white-space: nowrap;
    display: inline-flex;
    transition: all 0.3s;
}

.sect-footer{
    background: #4298DF;
    padding-top: 37px;
}

.heading-foot-new{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.links-foot-new {
    display: flex;
    flex-direction: column;
}

.links-foot-new a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 7px;
    text-decoration: none;
}

.links-foot-new a:hover{
    color: #e0e0e0;
}

.sect-footer .col-xl-3:first-child .links-foot-new{
    width: 180px;
}

.feedback-links-foot a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.feedback-links-foot {
    display: flex;
    flex-direction: column;
}

.logo-feedback-foot {
    margin-bottom: 11px;
}

.feedback-links-foot a {
    margin-top: 7px;
    padding-left: 19px;
}

.feedback-links-foot a:hover{
    color: #e0e0e0;
}

.feedback-links-foot a:first-child{
    background-image: url("../images/icon-locate.svg");
    background-repeat: no-repeat;
    background-position-y: center;
}

.feedback-links-foot a:nth-child(2){
    background-image: url("../images/icon-tel.svg");
    background-repeat: no-repeat;
    background-position-y: center;
}

.feedback-links-foot a:last-child{
    background-image: url("../images/icon-mail.svg");
    background-repeat: no-repeat;
    background-position-y: center;
}

.copyright-and-company-foot{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 17px;
}

.logo-feedback-foot img {
    width: 214px;
    height: 44px;
}

.communication-method a:hover {
    color: #EB7848;
}

.dc-link a:hover {
    color: #EB7848;
}

.order-text-new a:hover {
    color: #EB7848;
}

.button-types-new a:hover {
    color: #4298DF;
}

.city:hover {
    color: #EB7848;
}

.contact-link a:hover {
    color: #EB7848;
}

.number-new a:hover {
    color: #EB7848;
}

.feedback-new a:hover {
    color: #EB7848;
}

.button-callback-new:hover {
    background: #EB7848;
    color: white;
}

.button-send-new:hover {
    background: white;
    color: #EB7848;
    border: 1px solid #EB7848;
}

.pi-child a:hover {
    color: #EB7848;
}

.mi-links a:hover{
    color: #22366C;
}

.button-attach-file-new:hover {
    background: #EB7848;
    color: white;
}

ul.navigation-new li:hover {
    background: #EB7848;
    transition: all 0.3s;
}

ul.navigation-new > li:last-child:hover {
    background: #7ab2e0;
    transition: all 0.3s;
}

ul.dropdown-new li:hover {
    background: rgba(69, 142, 203, 0.2);
    transition: all 0.2s;
}

@media (max-width:1199px){
    .small-title-reservoirs {
        display: flex;
    }

    .nav {
        max-width: 960px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    ul.navigation-new {
        width: 1150px;
    }

    .reservoirs-new {
        background-size: 65%;
        background-position: bottom 38px right 0;
    }

    .reservoirs-new:before{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 90px 100vw;
        border-color: transparent transparent #ffffff transparent;
        left: 0px;
        bottom: 0;
    }

    .hwi-third {
        margin-top: 30px;
    }

    .hwi-fourth {
        margin-top: 30px;
    }

    .method-email-new {
        background-position-y: center;
        padding-bottom: 13px;
        margin-top: 64px;
    }

    .method-phone-new {
        padding-bottom: 15px;
        padding-top: 15px;
        background-position-y: center;
        margin-top: 40px;
    }

    .dlv-form {
        display: flex;
        justify-content: flex-end;
    }

    .dlv-contact {
        display: flex;
        justify-content: flex-end;
    }

    .method-form-new {
        padding-right: 48px;
    }

    .pac-text {
        width: auto;
    }

    .gd-heading {
        margin-bottom: 15px;
    }

    .gd-photo {
        justify-content: center;
    }

    .documentation-heading {
        margin-bottom: 50px;
    }

    .doc-column {
        display: flex;
        justify-content: center;
    }

    .city-list-popup-window{
        width: 850px;
        overflow: auto;
    }

    .popup-cont{
        width: 100%;
        display: flex;
        height: 100%;
    }

    .popup-cont ul {
        margin-top: 20px;
    }
}

@media (max-width:991px){
    .city-list-popup-window ul {
        font-size: 14px;
    }

    .dlv-form {
        justify-content: flex-start;
    }

    .mm-head {
        height: 48px;
        padding-left: 10px;
        padding-right: 13px;
        background: cornflowerblue;
    }

    .mm-head img {
        vertical-align: initial;
    }

    .header-mobile-new{
        display: flex;
        background-color: white;
        width: 100%;
        position: fixed;
        z-index: 15;
        height: 48px;
    }

    .gamburger{
        display: block;
        width: 47px;
        height: 48px;
    }

    .hm-logo  {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .hm-search{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: cornflowerblue;
    }

    .header{
        display: none;
    }

    .reservoirs-new {
        background-size: 55%;
        background-position: bottom 30px right 0;
    }

    .reservoirs-new:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 62px 100vw;
        border-color: transparent transparent #ffffff transparent;
        left: 0px;
        bottom: 0;
    }

    .order-form-new:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 70px 100vw 0 0;
        border-color: #ffffff transparent transparent transparent;
        right: 0;
        top: 0;
        position: absolute;
    }

    .order-form-new:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 70px 100vw;
        border-color: transparent transparent #ffffff transparent;
        left: 0px;
        bottom: 0;
    }

    .order-text-new {
        width: auto;
    }

    .form-ord {
        margin: 0 auto;
        margin-top: 30px;
    }

    .method-phone-new {
        margin-top: 50px;
    }

    .photo-and-caption:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 70px 100vw 0 0;
        border-color: #ffffff transparent transparent transparent;
        right: 0;
        top: 0;
        position: absolute;
    }

    .photo-and-caption:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 70px 100vw;
        border-color: transparent transparent #ffffff transparent;
        left: 0;
        bottom: 0;
    }

    .pac-photo {
        justify-content: center;
    }

    .oc-card {
        margin-right: 2px;
        margin-bottom: 5px;
    }

    .advantages-heading {
        margin-bottom: 25px;
    }

    .advantages-items {
        justify-content: center;
    }

    .our-work-new:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 70px 100vw 0 0;
        border-color: #ffffff transparent transparent transparent;
        right: 0;
        top: 0;
        position: absolute;
    }

    .our-work-new:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0px 0 70px 100vw;
        border-color: transparent transparent #ffffff transparent;
        left: 0px;
        bottom: 0;
    }

    .sect-footer .col-xl-3:nth-child(3) {
        display: none;
    }

    .reservoirs-types-new {
        margin: 0 auto;
        margin-bottom: 275px;
    }

    .heading-reservoirs {
        display: flex;
        justify-content: center;
        margin-top: 90px;
    }

    .small-title-reservoirs {
        width: auto;
        justify-content: center;
    }

    .dlv-car img {
        width: 100%;
        margin-top: 15px;
    }

    .nav-prev-link{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .city-list-popup-window ul li {
        width: 160px;
        margin: 13px 0;
    }

    .city-list-row a {
        padding: 6px 0;
    }

    .dlv-contact {
        justify-content: flex-start;
    }

    .popup-cont{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .city-list-popup-window {
        width: 100%;
        padding-left: 35px;
        height: 100%;
        overflow: auto;
        justify-content: center;
        background: #000000c9;
    }

    .popup-cont ul {
        margin-top: 0;
    }
}

@media (max-width:767px){
    .heading-reservoirs {
        font-size: 40px;
    }

    .small-title-reservoirs {
        font-size: 17px;
    }

    .reservoirs-new {
        background-position: bottom 34px right 0;
    }

    .reservoirs-types-new {
        margin-bottom: 215px;
    }

    .small-description {
        width: 300px;
    }

    .order-form-new {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .dlv-car img {
        width: auto;
    }

    .dlv-car {
        justify-content: center;
    }

    .dlv-form {
        justify-content: center;
        text-align: center;
    }

    .dlv-email{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .dlv-contact {
        justify-content: center;
        text-align: center;
    }

    .method-phone-new {
        margin-top: 50px;
        padding-left: 52px;
        background-position-x: -7px;
        background-position-y: -2px;
        width: auto;
        padding-bottom: 20px;
    }

    .method-email-new {
        margin-top: 54px;
    }

    .photo-and-caption {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .oc-card {
        margin-right: 27px;
        margin-bottom: 27px;
    }

    .gd-photo{
        display: flex;
        justify-content: center;
    }

    .gd-photo img {
        width: 100%;
        height: auto;
    }

    .ai-item {
        width: 251px;
        font-size: 14px;
        padding-left: 75px;
    }

    .ai-first {
        margin-right: 3px;
        height: 90px;
    }

    .ai-second {
        height: 90px;
        background-position-y: 5px;
    }

    .ai-third {
        width: auto;
        margin-top: 10px;
    }

    .doc-column {
        justify-content: flex-end;
    }

    .our-work-new {
        padding-top: 150px;
    }

    .our-work-new{
        padding-bottom: 100px;
    }

    .ps-item img {
        width: 223px;
        height: 180px;
    }

    .foot-feedback {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .feedback-links-foot {
        padding-left: 25px;
        display: flex;
        margin: 0 auto;
    }

    .logo-feedback-foot {
        display: flex;
        margin-top: 15px;
    }

    .sect-footer .col-xl-3:nth-child(2){
        display: none;
    }

    .sect-footer .col-xl-3:first-child{
        display: none;
    }

    .sect-footer {
        padding: 0;
    }

    .city-list-popup-window {
        width: 100%;
        padding-left: 35px;
        height: 100%;
        overflow: scroll;
        justify-content: flex-start;
    }


    .city-list-popup-window ul li {
        width: 145px;
    }

    .dc-link a {
        font-size: 15px;
    }

    .mi-links {
        display: inline-flex;
        flex-direction: column;
    }

    .popup-cont{
        width: 100px;
        height: 90%;
        display: block;
    }

}

@media (max-width:575px){
    .city-list-popup-window {
        background: #000000c9;
    }

    .search-new-active input {
        width: 215px;
    }

    .reservoirs-new:before {
        border-width: 0px 0 38px 100vw;
    }

    .heading-reservoirs {
        font-size: 33px;
        margin-top: 55px;
    }

    .small-title-reservoirs {
        font-size: 17px;
    }

    .reservoirs-types-new {
        width: 290px;
        margin-bottom: 160px;
    }

    .reservoirs-new {
        background-position: bottom 20px right 0;
    }

    .small-description {
        width: 100%;
    }

    .under-icons {
        flex-direction: column;
    }

    .stage-of-work {
        margin: 0 auto;
    }

    .order-form-new:before {
        border-width: 38px 100vw 0 0;
    }

    .order-form-new:after {
        border-width: 0px 0 38px 100vw;
    }

    .order-form-new {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    input.inp-name-user {
        width: 145px;
    }

    .name-user-new {
        margin-right: 0;
    }

    input.inp-tel-user {
        width: 145px;
    }

    .area-msg {
        width: 293px;
    }

    .buttons-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .gd-photo img {
        width: 100%;
    }

    .dlv-car img {
        width: 300px;
    }

    .foot-feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-attach-file-new {
        margin-bottom: 10px;
    }

    .photo-and-caption:before {
        border-width: 38px 100vw 0 0;
    }

    .photo-and-caption:after {
        border-width: 0px 0 38px 100vw;
    }

    .pac-photo img {
        width: 310px;
        height: 173px;
    }

    .oc-clients img {
        /* width: 110px; */
    }

    .oc-card {
        margin-right: 4px;
        margin-bottom: 8px;
    }

    .advantages {
        margin-top: 80px;
    }

    .ai-first {
        margin: 0;
    }

    .ai-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ai-third {
        margin: 0;
    }

    .ai-item {
        margin-bottom: 10px;
        width: 300px;
    }

    .our-work-new:before {
        border-width: 38px 100vw 0 0;
    }

    .dc-item {
        margin-bottom: 30px;
    }

    .our-work-new:after {
        border-width: 0px 0 38px 100vw;
    }

    .our-work-new {
        padding-top: 100px;
    }

    .our-work-new{
        padding-bottom: 100px;
    }

    .feedback-links-foot {
        padding: 0;
    }

    .doc-column {
        justify-content: center;
    }

    .dlv-form {
        justify-content: flex-start;
        text-align: left;
    }

    .dlv-email {
        justify-content: flex-start;
        text-align: left;
    }

    .dlv-contact {
        justify-content: flex-start;
        text-align: left;
    }

    .method-phone-new {
        padding-left: 75px;
        background-position-x: 0;
        background-position-y: 15px;
    }

    .method-form-new {
        padding-top: 16px;
        padding-bottom: 30px;
    }

    .oc-clients {
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
    }

    .vert-reserv a {
        padding-right: 16px;
    }

    .horiz-reserv a {
        padding-right: 1px;
    }

    .two-walls-reserv a {
        padding-right: 37px;
    }

    .one-wall-reserv a {
        padding-right: 23px;
    }

    .reserv-for-water a {
        padding-right: 73px;
    }

    .communication-method {
        margin-left: auto;
        margin-right: auto;
        max-width: 290px;
    }
}